# Python
__pycache__/
*.py[cod]
*$py.class
bandit/
*.pyc
.env
mlruns/
*.log
.DS_Store
models/*.pkl
data/raw/*
!data/raw/.gitkeep

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints
